@import url(./reset.css);

:root {
  --calendar-size: 400px;
  --font-size: calc(var(--calendar-size) / 20);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans';
  font-weight: 300;
}
.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.calendar {
  width: var(--calendar-size);
  border-radius: calc(var(--calendar-size) / 25);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  font-size: var(--font-size);
}

.calendar-nav {
  background-color: #3bba66;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--calendar-size) / 25);
  color: white;
}

.calendar-btn {
  background-color: transparent;
  border: 0;
  color: inherit;
}

.calendar-year-month-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month {
  margin-bottom: 0.5em;
}

.calendar-grid {
  background-color: white;
}

.calendar-days {
  display: grid;
  grid-template-areas: '. . . . . . .';
  text-align: center;
}
.calendar-dates {
  background-color: lightcoral;
  display: grid;
  grid-template-areas: '. . . . . . . ';
  text-align: center;
}
.calendar-days > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--calendar-size) / 7);
  height: calc(var(--calendar-size) / 7);
}
.calendar-dates > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--calendar-size) / 7);
  height: calc(var(--calendar-size) / 7);
}

.beforeMonth,
.afterMonth {
  color: #fff;
}

.sunday {
  color: yellow;
}
