@import url(./reset.css);

:root {
  --calendar-size: 400px;
  --font-size: calc(var(--calendar-size) / 20);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
}

.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.date-picker {
  padding: 10px;
  position: relative;
}

.hidden {
  display: none;
}

.calendar {
  position: relative;
  overflow: hidden;
  width: calc(var(--calendar-size) * 1.04);
  margin-top: 10px;
  border-radius: calc(var(--calendar-size) / 25);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: var(--font-size);
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--calendar-size) / 25);
  background-color: #3bba66;
  color: white;
}

.calendar-btn {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.calendar-year-month-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month {
  margin-bottom: 0.5em;
}

.calendar-grid {
  background-color: white;
}

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-areas: '. . . . . . .';
  text-align: center;
}

.calendar-days {
  padding: 0 2%;
  color: #aaa;
}

.calendar-dates {
  padding: 2%;
  cursor: pointer;
}

.calendar-days > div,
.calendar-dates > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--calendar-size) / 7);
  height: calc(var(--calendar-size) / 7);
}

.beforeMonth,
.afterMonth {
  color: #ccc;
}

.sunday {
  color: red;
}

.date {
  border-radius: 50%;
  transition: all 0.4s ease;
}

.picked,
.date:hover {
  background-color: #3bba66;
  color: white;
}
